@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
.about {
  cursor: default;
  width: 100vw;
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-family: "Poppins", sans-serif;
  scroll-snap-align: start;
}
.about .leftSide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about .leftSide .bgBlue {
  position: absolute;
  width: 100%;
  height: 64vh;
  background-color: #f74168;
}
.about .leftSide .bgPlant {
  position: absolute;
  width: 16vh;
  height: 30vh;
  background-size: cover;
  left: 5vw;
  bottom: 8vh;
  cursor: -webkit-grab;
  cursor: grab;
  z-index: 10;
}
.about .leftSide .aboutMe {
  margin-left: -25%;
  font-size: 5vh;
  letter-spacing: 2vh;
  font-weight: bold;
  position: relative;
  z-index: 9;
}
.about .leftSide .aboutLine {
  width: 80%;
  height: 50%;
  bottom: 0;
  right: -3vh;
  z-index: -1;
  background-color: #f74168;
  position: absolute;
  border-radius: 5vh;
}
.about .leftSide .tabletFrame {
  background-color: #f0f0f0;
  margin-top: 7vh;
  margin-bottom: 14.5vh;
  margin-left: 30%;
  height: 54vh;
  width: 45vh;
  border: 2vh solid black;
  border-radius: 7%;
  padding-top: 6vh;
  font-size: 3vh;
  position: relative;
  z-index: 5;
}
.about .leftSide .tabletFrame .frontEnd {
  margin-left: 30%;
  font-weight: bold;
  transition: 0.3s ease-in-out;
}
.about .leftSide .tabletFrame .frontEnd:hover {
  letter-spacing: 0.4vh;
}
.about .leftSide .tabletFrame .developer {
  color: #f74168;
  font-weight: 900;
}
.about .leftSide .tabletFrame .myPictureText {
  position: absolute;
  transform: rotateZ(-90deg);
  left: -12vh;
  bottom: 42vh;
  width: 50vh;
  letter-spacing: 1vh;
}
.about .leftSide .tabletFrame .picture {
  position: absolute;
  right: 0px;
  border-radius: 2vh 0 1vh 0;
  transform: translateX(0.1vh) translateY(0.5vh);
  width: 30vh;
  height: 40vh;
  background-position: right;
  background-size: cover;
}
.about .rightSide {
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.about .rightSide .bgBlue2 {
  position: absolute;
  width: 50%;
  height: 64vh;
  background-color: #f74168;
  left: 0;
  border-radius: 0 5vh 5vh 0;
  z-index: 0;
}
.about .rightSide .bgHat {
  position: absolute;
  right: 10%;
  transform: rotateZ(-40deg);
  width: 20vh;
  height: 20vh;
  background-size: cover;
}
.about .rightSide .rightFrame {
  width: 80%;
  height: 80%;
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.76), -4px -4px 5px 0px rgba(255, 255, 255, 0.808), 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  z-index: 5;
  border-radius: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.about .rightSide .rightFrame .frameText {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vh;
  overflow: scroll;
  font-size: 2.7vh;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.575);
}
.about .rightSide .rightFrame .frameText:nth-child(1), .about .rightSide .rightFrame .frameText:nth-child(4) {
  font-size: 2vw;
  letter-spacing: 2vh;
  font-weight: bolder;
  color: black;
}
.about .rightSide .rightFrame .frameText:nth-child(3) {
  margin-top: -40px;
}

@media (max-aspect-ratio: 6/4) {
  .about {
    scroll-snap-align: none !important;
    grid-template-columns: 1fr !important;
  }
  .about .aboutMe {
    margin-left: 0 !important;
    font-size: 3vh !important;
  }
  .about .tabletFrame {
    margin-left: 0 !important;
    height: 40vh !important;
    width: 33vh !important;
  }
  .about .tabletFrame .picture {
    width: 18vh !important;
    height: 25vh !important;
    margin-top: 10px;
  }
  .about .tabletFrame .myPictureText {
    bottom: 30vh !important;
    font-size: 18px !important;
  }
  .about .frameText:nth-child(1), .about .frameText:nth-child(4) {
    letter-spacing: 1vh !important;
    font-size: 5vw !important;
  }
  .about .frameText:nth-child(2), .about .frameText:nth-child(3) {
    font-size: 20px !important;
  }

  .leftSide {
    width: 90% !important;
  }
}/*# sourceMappingURL=about.css.map */